*
{
    box-sizing: border-box;
}
.container
{
    margin-top: 25px;
}
.col-md-6,.col-md-12,col-lg-4
{
    padding: 10px;
    background-color: lightblue;
    color: white;
    font-size: 30px;
    text-align: center;
    border: 7px solid white;
    height: 400px;
    overflow-y: scroll;
}
.navbar
{
    margin-bottom: 50px;
}
.links
{
    color:#0d6efd;
}
@media (max-width:767px)
{
    .links
    {
        color: white;
        text-align: center;
    }
    .nav-link
    {
        margin-top: 3px;
        border: 1px solid white;
    }
}
h1
{
    text-align: center;
    text-shadow: 1px 1px black;
}
h2
{
    color: white;
    text-shadow: 1px 1px white;
}
p
{
    text-align: left;
}
