body
{
    background-color: rgb(193, 192, 192);
    text-align: center;
}
h2
{
    color: white;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 3px 3px 3px black;
}
p
{
    text-align: left;
}
h1
{
    font-size:200%;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
h3
{
    font-size:150%;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
}
.col1
{
    background-color: rgb(255, 172, 202);
    width:900px;
    height: 50px;
}
.left>a
{
    margin-top: 15px;
    text-decoration: none;
    margin-right: 70px;
    color: black;
    text-align: left;
}
a :hover,a:active
{
    background-color: white;
    color: blue;
}
input
{
    margin-top: 15px;
}
.left2
{
    background-color: white;
    height: max-content;
    width: 700px;
    float:left;
    margin-left: 174px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}
ul
{
    text-align:left;
    margin-right: 20px;
}
.right2
{
    background-color:  rgb(255, 172, 202);
    height: 430px;
    width: 190px;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
}
footer
{
clear:left;
background-color: white;
width: 900px;
text-align: left;
margin-top: 450px;
}
button
{
    color:white;
    background-color: rgb(106, 13, 13);
}
span
{
    background-color: white;
}